branches/danidotnethf/SheetModernGUI/Service References/SheetServiceReference/service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Sheet.BLLService.Entities" />
  <xs:element name="GetNotes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Sheet.BLLService.Entities" minOccurs="0" name="GetNotesResult" nillable="true" type="q1:ArrayOfNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>