branches/danidotnethf/SheetGUI/Service References/SheetServiceReference/Sheet.Facade.Queries.ComplexQueries.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sheet.Facade.Queries.ComplexQueries" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sheet.Facade.Queries.ComplexQueries" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ComplexQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="After" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AttachmentNameQuery" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="AttachmentOfType" nillable="true" type="tns:ArrayOfContentType" />
      <xs:element minOccurs="0" name="Before" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HasAttachment" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LabelQuery" nillable="true" type="q2:ArrayOfstring" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TextAny" nillable="true" type="q3:ArrayOfstring" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TextQuery" nillable="true" type="q4:ArrayOfstring" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TitleAny" nillable="true" type="q5:ArrayOfstring" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TitleQuery" nillable="true" type="q6:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComplexQuery" nillable="true" type="tns:ComplexQuery" />
  <xs:complexType name="ArrayOfContentType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContentType" type="tns:ContentType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContentType" nillable="true" type="tns:ArrayOfContentType" />
  <xs:simpleType name="ContentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Text" />
      <xs:enumeration value="Image" />
      <xs:enumeration value="Video" />
      <xs:enumeration value="Audio" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ContentType" nillable="true" type="tns:ContentType" />
</xs:schema>