SheetModernGUI/Service References/SheetServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BLLService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Sheet.BLLService.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBLLService_GetNotes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNotes" />
  </wsdl:message>
  <wsdl:message name="IBLLService_GetNotes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNotesResponse" />
  </wsdl:message>
  <wsdl:message name="IBLLService_GetNotesByLabel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNotesByLabel" />
  </wsdl:message>
  <wsdl:message name="IBLLService_GetNotesByLabel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNotesByLabelResponse" />
  </wsdl:message>
  <wsdl:message name="IBLLService_LoadNote_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadNote" />
  </wsdl:message>
  <wsdl:message name="IBLLService_LoadNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadNoteResponse" />
  </wsdl:message>
  <wsdl:message name="IBLLService_SaveNote_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveNote" />
  </wsdl:message>
  <wsdl:message name="IBLLService_SaveNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveNoteResponse" />
  </wsdl:message>
  <wsdl:portType name="IBLLService">
    <wsdl:operation name="GetNotes">
      <wsdl:input wsaw:Action="http://tempuri.org/IBLLService/GetNotes" message="tns:IBLLService_GetNotes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBLLService/GetNotesResponse" message="tns:IBLLService_GetNotes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNotesByLabel">
      <wsdl:input wsaw:Action="http://tempuri.org/IBLLService/GetNotesByLabel" message="tns:IBLLService_GetNotesByLabel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBLLService/GetNotesByLabelResponse" message="tns:IBLLService_GetNotesByLabel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadNote">
      <wsdl:input wsaw:Action="http://tempuri.org/IBLLService/LoadNote" message="tns:IBLLService_LoadNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBLLService/LoadNoteResponse" message="tns:IBLLService_LoadNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveNote">
      <wsdl:input wsaw:Action="http://tempuri.org/IBLLService/SaveNote" message="tns:IBLLService_SaveNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBLLService/SaveNoteResponse" message="tns:IBLLService_SaveNote_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBLLService" type="tns:IBLLService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNotes">
      <soap:operation soapAction="http://tempuri.org/IBLLService/GetNotes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotesByLabel">
      <soap:operation soapAction="http://tempuri.org/IBLLService/GetNotesByLabel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadNote">
      <soap:operation soapAction="http://tempuri.org/IBLLService/LoadNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveNote">
      <soap:operation soapAction="http://tempuri.org/IBLLService/SaveNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BLLService">
    <wsdl:port name="BasicHttpBinding_IBLLService" binding="tns:BasicHttpBinding_IBLLService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/SheetBLLService/Service1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>